footer
    .container
        img(src='img/kids/bird.png' title='' alt='').footer-bird
        .row.footer-border-bottom
            .col-md-6.col-lg-3
                h3 Про нас
                p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
            .col-md-6.col-lg-3
                h3 Послуги
                ul.footer-menu
                    li
                        a(href='' title='') Лікування карієсу (терапевтична стоматологія)
                    li
                        a(href='' title='') Лікування каналів
                    li
                        a(href='' title='') Професійна гігієна (зняття зубних відкладень)
                    li
                        a(href='' title='') Протезування
                    li
                        a(href='' title='') Парадонтологія
                    li
                        a(href='' title='') Дитячий прийом
                    li
                        a(href='' title='') Хірургічна стоматологія
                    li
                        a(href='' title='') Імплантація
                    li
                        a(href='' title='') Ортодонтія
            .col-md-6.col-lg-3
                h3 Контакти
                p.footer-contacts ул. Воскресенская 12-а,
                    br
                    | Київ, Україна
                    br
                    | Тел: ‎
                    a(href='tel:' title='') +38 (044) 337-75-79
                    br
                    | Тел:
                    a(href='tel:' title='') ‎ +38 ‎(050) 223-03-11
                    br
                    | E-mail:
                    a(href='mail:' title='').email  smagadental@gmail.com
                ul.social-links
                    li
                        a(href='' title='')
                            +fb-sq
                    li
                        a(href='' title='')
                            +instagram
                a(href='' title='').button Записатись
            .col-md-6.col-lg-3.flex-first.flex-md-last
                .footer-yellow-block
                    h3 Часи роботи
                    p.time Пн - Пт   9:00 - 21:00
                        br
                        | Сб, Нд   9:00 - 21:00
                    p Запис на прийом можна здійснити за телефоном:
                    a(href='tel:' title='') +38 (093) 331 22 11
        .row.footer-copyright
            .col-6
                p Smaga Dental  2017
            .col-6
                p.text-right Ліцензія ЛМГІГАВ1124


script(type="text/javascript" src="js/main.js")

