nav
    .container
        .row
            .col-6.col-lg-2.hidden-md
                a(href='index.html' title='').logo
                    img(src='img/logo/logo.svg' title='Smaga Dental Clinic' alt='')
            .col-6.nav-mobile
                .nav-icon
                    span
                    span
                    span
                    span

            .col-md-10.col-lg-9.nav-panel
                ul.menu
                    li
                        a(href='about.html' title='').active Про нас
                    li
                        a(href='services.html' title='') Послуги
                    li
                        a(href='children.html' title='') Дитячий кабінет
                    li
                        a(href='team.html' title='') Команда
                    li
                        a(href='blog.html' title='') Публікації
                    li
                        a(href='contacts.html' title='') Контаки
                    li.menu-number
                        a(href='' title='').menu-number-link#open-number +38 050 223-03-11
                        ul.menu-number-dropdown
                            li
                                a(href='tel:' title='').menu-number-link +38 050 223-03-11
                            li
                                a(href='tel:' title='').menu-number-link +38 050 223-03-11
                            li
                                a(href='tel:' title='').menu-number-link +38 050 223-03-11
            .col-md-2.col-lg-1#lang-col
                ul.menu.menu-lang
                    li
                        a(href='' title='').active УКР
                    li
                        a(href='' title='') РУ


