@import '../../utilities/vars'
@import '../../utilities/mixins'

/* HEADERS */

h1
  font-size 2.375em
  margin-bottom 27px
  color $black
h1.person-title
  color $black
  line-height: 1.27;
  font-size 1.875em
  margin-bottom 12px
h1.fouty-four
  color $yellow
  font-size 25em
  position relative
  z-index 10
  line-height 1.41
  +tablet()
    font-size 22em
  +portrait()
    font-size 14em
  +mobile()
    font-size 11em
h2
  font-size 2.375em
  margin-bottom 48px
  color $black
  +mobile()
    margin-bottom 20px
h2.question-title
  color $black
  line-height: 1.27;
  font-size 1.875em
  margin-bottom 4px
  text-align center
h3
  line-height: 1.0;
  letter-spacing: 1.2px;
  font-weight 700
  font-size 1.500em
  color $black
  margin-bottom 22px
h4
  line-height: 1.2;
  letter-spacing: 1px;
  font-size 1.25em
  margin-bottom 20px
  color $black
h5
  font-size 1.75em
  margin-bottom 8px
  line-height: 1.36;
  font-weight 700
  color $black
h6
  color $black
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom 6px

/* PARAGRAPH */
p
  font(1em, $black, 300, 1.5)
  margin-bottom 26px

blockquote
  position relative
  font-weight 300
  line-height: 1.5
  padding 60px 100px
  +mobile()
    padding 30px 60px
  &:before
    content '"'
    position absolute
    display block
    color $yellow
    top 0
    left 0
    font-size 6em
    font-weight 700
  &:after
    font-size 6em
    font-weight 700
    content '"'
    position absolute
    display block
    color $yellow
    bottom -35px
    right 0