.services-list
  padding 11px 0 59px
  li
    a
      color $black
      position relative
      font-size 1.125em
      line-height: 1.89;
      font-weight 300
      &:before
        pseudo(block, absolute)
        left -10px
        top 8px
        background $yellow
        width 2px
        height 8px
        transform rotate(45deg)
        opacity 0
        transitions()
      &:after
        pseudo(block, absolute)
        left -10px
        top 3px
        background $yellow
        width 2px
        height 8px
        transform rotate(-45deg)
        opacity 0
        transitions()
      &:hover
        padding-left 25px
        font-weight 700
        &:before, &:after
          opacity 1
          left 5px

.services-price
  line-height: 1.9;
  text-align: center;
  font-size 1.25em
  border-bottom 3px solid $yellow
  margin 20px 0
  padding-bottom 6px
  +mobile()
    margin-bottom 75px

.services-step
  position relative
  padding-top 95px
  margin-bottom 45px
  &:before
    pseudo(block,absolute)
    counter-increment: steps;
    content: counter(steps)
    top 0
    left 0
    font-size 5.625em
    line-height 1
    letter-spacing: 2.2px;
    font-weight 700
    color $lightgreen

.service-row
  margin-bottom 52px
  &--header
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content space-between
    .column
      line-height: 1.0;
      letter-spacing: 1.2px;
      font-size 1.500em
      padding 17px 32px 17px
      +mobile()
        line-height  normal
      &:first-child
        font-weight 700
        background $gray-back
        flex 1 1 77%
        max-width 77%
        +tablet()
          flex 1 1 74%
          max-width 74%
        +portrait()
          flex 1 1 68%
          max-width 68%
        +mobile()
          flex 1 1 65%
          max-width 65%
      &:last-child
        background $yellow
        flex 1 1 19.4%
        max-width 19.4%
        text-align center
        +tablet()
          flex 1 1 22.4%
          max-width 22.4%
        +portrait()
          flex 1 1 28.4%
          max-width 28.4%
        +mobile()
          flex 1 1 35%
          max-width 35%
          padding-left 0
          padding-right 0
          align-items: center;
          display: flex;
          justify-content: center;
  &--regular
    border-bottom 2px solid $gray-text3
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content space-between
    .column
      background $trans
      font-weight: 300;
      line-height: 2.38;
      padding: 8px 0 6px;
      +mobile()
        line-height normal
      &:first-child
        flex 1 1 77%
        max-width 77%
        +tablet()
          flex 1 1 74%
          max-width 74%
        +portrait()
          flex 1 1 68%
          max-width 68%
        +mobile()
          flex 1 1 65%
          max-width 65%
      &:last-child
        flex 1 1 19.4%
        max-width 19.4%
        +tablet()
          flex 1 1 22.4%
          max-width 22.4%
        +portrait()
          flex 1 1 28.4%
          max-width 28.4%
        +mobile()
          flex 1 1 35%
          max-width 35%

