//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Smaga Dental Clinic - Публікації

block content

    header.margin-bottom-0
        .container
            .row
                .col-lg-3.display-flex.align-items-center
                    .header-title
                        h1 Публікації
                .col-lg-9
                    .news-menu
                        ul.news-menu--list
                            li
                                a(href='' title='').active Усі новини
                            li
                                a(href='' title='') Наші новини
                            li
                                a(href='' title='') Світові новини
                            li
                                a(href='' title='') Пацієнти
                            li
                                a(href='' title='') Вакансії


    section
        .container
            .row
                .col-md-6
                    a(href='' title='').news-container
                        .news-container--image-container
                            img(src='img/illus/img1-4.png' title='' alt='')
                        h3 Новина 1
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        ul.news-container--list
                            li 10.02.2017
                            li
                                i.fa.fa-eye
                                | 140
                        span.link-next Читати більше
                .col-md-6
                    a(href='' title='').news-container
                        .news-container--image-container
                            img(src='img/illus/img1-4.png' title='' alt='')
                        h3 Новина 1
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        ul.news-container--list
                            li 10.02.2017
                            li
                                i.fa.fa-eye
                                | 140
                        span.link-next Читати більше
                .col-md-6
                    a(href='' title='').news-container
                        .news-container--image-container
                            img(src='img/illus/img1-4.png' title='' alt='')
                        h3 Новина 1
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        ul.news-container--list
                            li 10.02.2017
                            li
                                i.fa.fa-eye
                                | 140
                        span.link-next Читати більше
                .col-md-6
                    a(href='' title='').news-container
                        .news-container--image-container
                            img(src='img/illus/img1-4.png' title='' alt='')
                        h3 Новина 1
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        ul.news-container--list
                            li 10.02.2017
                            li
                                i.fa.fa-eye
                                | 140
                        span.link-next Читати більше
                .col-md-6
                    a(href='' title='').news-container
                        .news-container--image-container
                            img(src='img/illus/img1-4.png' title='' alt='')
                        h3 Новина 1
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        ul.news-container--list
                            li 10.02.2017
                            li
                                i.fa.fa-eye
                                | 140
                        span.link-next Читати більше
                .col-md-6
                    a(href='' title='').news-container
                        .news-container--image-container
                            img(src='img/illus/img1-4.png' title='' alt='')
                        h3 Новина 1
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        ul.news-container--list
                            li 10.02.2017
                            li
                                i.fa.fa-eye
                                | 140
                        span.link-next Читати більше
                .col-md-6
                    a(href='' title='').news-container
                        .news-container--image-container
                            img(src='img/illus/img1-4.png' title='' alt='')
                        h3 Новина 1
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        ul.news-container--list
                            li 10.02.2017
                            li
                                i.fa.fa-eye
                                | 140
                        span.link-next Читати більше
                .col-md-6
                    a(href='' title='').news-container
                        .news-container--image-container
                            img(src='img/illus/img1-4.png' title='' alt='')
                        h3 Новина 1
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        ul.news-container--list
                            li 10.02.2017
                            li
                                i.fa.fa-eye
                                | 140
                        span.link-next Читати більше
            .row
                .col-12
                    ul.pagination
                        li
                            a(href='' title='')
                                i.fa.fa-angle-left
                        li
                            a(href='' title='').active 1
                        li
                            a(href='' title='') 2
                        li
                            a(href='' title='') 3
                        li
                            a(href='' title='') ...
                        li
                            a(href='' title='')
                                i.fa.fa-angle-right


