//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Smaga Dental Clinic - Новина 2

block content

    header.margin-bottom-0
        .container
            .row
                .col-12.text-center
                    .blog-title
                        h1 Новина 2
                        ul.blog-list
                            li 10.02.2017
                            li
                                i.fa.fa-eye
                                | 140


    article
        .container
            .row.justify-content-center.border-bottom
                .col-md-10.col-lg-8
                    h3 Заголовок 1
                    p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
                    .img-gallery
                        img(src='img/illus/img9-1.png' alt='' title='')
                        img(src='img/illus/img9-2.png' alt='' title='')
                    h3 Заголовок 1
                    p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів
                    ul
                        li йцук
                        li йцук
                        li йцук
                        li фіва
                        li фіва
                        li ячсм
                        li ячсм
                        li ячсмґ
                    h3 Нумерованный список
                    ol
                        li Lorem Ipsum;
                        li це текст-"риба;
                        li використовується в друкарстві та дизайні;
                        li з XVI сторіччя;
                    img(src='img/illus/img9-3.png' alt='' title='')
                    blockquote
                        | Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI
                    p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.

    section
        .container
            .row
                .col-12
                    h2.text-center Наступні публікації
                .col-md-6
                    a(href='' title='').news-container
                        .news-container--image-container
                            img(src='img/illus/img1-4.png' title='' alt='')
                        h3 Новина 1
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        ul.news-container--list
                            li 10.02.2017
                            li
                                i.fa.fa-eye
                                | 140
                        span.link-next Читати більше
                .col-md-6
                    a(href='' title='').news-container
                        .news-container--image-container
                            img(src='img/illus/img1-4.png' title='' alt='')
                        h3 Новина 1
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        ul.news-container--list
                            li 10.02.2017
                            li
                                i.fa.fa-eye
                                | 140
                        span.link-next Читати більше


