//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Smaga Dental Clinic - Головна сторінка

block content

    header
        .container
            .row
                .col-md-5.col-lg-4.display-flex.align-items-center.flex-last.flex-md-first
                    .header-title
                        h1 Smaga Dental Clinic
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя
                        a(href='' title='').button Записатись
                .col-md-7.col-lg-8
                    img(src='img/illus/img1-1.png' title='' alt='').img-title
        .back-green

    section
        .container
            .row
                .col-md-7.col-lg-6
                    .slider.slider-one
                        img(src='img/illus/img1-2.png' title='' alt='')
                        img(src='img/illus/img1-2.png' title='' alt='')
                        img(src='img/illus/img1-2.png' title='' alt='')
                .offset-lg-1.col-md-5.display-flex.align-items-center
                    .block-title
                        h2 Найвища якість
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        a(href='' title='').link-next Читати про клініку
                            i.fa.fa-angle-right

    section
        .container
            .row
                .col-12
                    h2 Популярні послуги
        .container
            .row
                .col-md-8.col-lg-9
                    .slider.slider-three
                                a(href='' title='').service-slider
                                    .service--image-container
                                        img(src='img/illus/img0.png' title='' alt='').front
                                        img(src='img/illus/img0h.png' title='' alt='').back
                                    h4 Терапія
                                    p лікування карієсу та інших дефектів зуба шляхом очищення поверхні та відновлення
                                    span Детальніше
                                        i.fa.fa-angle-right
                                a(href='' title='').service-slider
                                    .service--image-container
                                        img(src='img/illus/img0.png' title='' alt='').front
                                        img(src='img/illus/img0h.png' title='' alt='').back
                                    h4 Терапія
                                    p лікування карієсу та інших дефектів зуба шляхом очищення поверхні та відновлення
                                    span Детальніше
                                        i.fa.fa-angle-right
                                a(href='' title='').service-slider
                                    .service--image-container
                                        img(src='img/illus/img0.png' title='' alt='').front
                                        img(src='img/illus/img0h.png' title='' alt='').back
                                    h3 Терапія
                                    p лікування карієсу та інших дефектів зуба шляхом очищення поверхні та відновлення
                                    span Детальніше
                                        i.fa.fa-angle-right
                                a(href='' title='').service-slider
                                    .service--image-container
                                        img(src='img/illus/img0.png' title='' alt='').front
                                        img(src='img/illus/img0h.png' title='' alt='').back
                                    h4 Терапія
                                    p лікування карієсу та інших дефектів зуба шляхом очищення поверхні та відновлення
                                    span Детальніше
                                        i.fa.fa-angle-right
                .col-md-4.col-lg-3
                    .slider-title
                        .slider-counter
                        p Переглянь усі популярні послуги, та оберіть потрібну для себе.
                        a(href='' title='').button.button-with-arrow Усі послуги
                            i.fa.fa-angle-right

    section
        .back-image-1
            .container
                .row
                    .offset-md-6.col-md-6.offset-lg-7.col-lg-5.display-flex.align-items-center
                        .header-title
                            h2 Дитячий кабінет
                            p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                            a(href='' title='').button.button-with-arrow Детальніше
                                i.fa.fa-angle-right

    section
        .container
            .row
                .col-md-5.col-lg-4.display-flex.align-items-center.flex-last.flex-md-first
                    .header-title
                        h2 Наші лікарі
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        a(href='' title='').link-next Усі лікарі
                            i.fa.fa-angle-right
                .offset-lg-1.col-md-7.flex-first.flex-md-last
                    img(src='img/illus/img1-4.png' title='' alt='').img-responsive.img-doctor
    section
        .container
            .row
                .col-12
                    h2 Публікації
                .col-md-6
                    a(href='' title='').news-container
                        .news-container--image-container
                            img(src='img/illus/img1-4.png' title='' alt='')
                        h3 Новина 1
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        ul.news-container--list
                            li 10.02.2017
                            li
                                i.fa.fa-eye
                                | 140
                        span.link-next Читати більше
                .col-md-6
                    a(href='' title='').news-container
                        .news-container--image-container
                            img(src='img/illus/img1-4.png' title='' alt='')
                        h3 Новина 1
                        p це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        ul.news-container--list
                            li 10.02.2017
                            li
                                i.fa.fa-eye
                                | 140
                        span.link-next Читати більше
            .row.justify-content-center
                .col-md-5.col-lg-3
                    a(href='' title='').button.button-with-arrow Усі новини
                        i.fa.fa-angle-right


