//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Smaga Dental Clinic - Послуги

block content

    section.padding-top-0
        .container
            .row
                .col-md-3
                    h1 Прайс цін
                    ul.services-list
                        li
                            a(href='#price1' title='').smooth Лікування карієсу
                        li
                            a(href='#price2' title='').smooth Лікування каналів
                        li
                            a(href='#price3' title='').smooth Професійна гігієна
                        li
                            a(href='' title='') Протезування
                        li
                            a(href='' title='') Парадонтологія
                        li
                            a(href='' title='') Дитячий прийом
                        li
                            a(href='' title='') Хірургічна стоматологія
                        li
                            a(href='' title='') Імплантація
                        li
                            a(href='' title='') Ортодонтія
                    a(href='#modal-order' title='').button.inline Записатись

                .col-md-9
                    .service-row#price1
                        .service-row--header
                            .column Лікування карієсу
                            .column Ціна
                        .service-row--regular
                            .column Лечение одного временного зуба, которое заканчивается пломбой
                            .column від 1100 до 1200 грн
                        .service-row--regular
                            .column Консультация
                            .column 1200 грн
                        .service-row--regular
                            .column Удаление одного постоянного зуба
                            .column від 500
                        .service-row--regular
                            .column Лечение одного временного зуба, которое заканчивается пломбой
                            .column від 500 до 1200 грн
                        .service-row--regular
                            .column Микроимплант ортодонтический
                            .column 750 грн
                    .service-row#price2
                        .service-row--header
                            .column Лікування карієсу
                            .column Ціна
                        .service-row--regular
                            .column Лечение одного временного зуба, которое заканчивается пломбой
                            .column від 500 до 1200 грн
                        .service-row--regular
                            .column Консультация
                            .column 1200 грн
                        .service-row--regular
                            .column Удаление одного постоянного зуба
                            .column від 500
                        .service-row--regular
                            .column Лечение одного временного зуба, которое заканчивается пломбой
                            .column від 500 до 1200 грн
                        .service-row--regular
                            .column Микроимплант ортодонтический
                            .column 750 грн
                    .service-row#price3
                        .service-row--header
                            .column Лікування карієсу
                            .column Ціна
                        .service-row--regular
                            .column Лечение одного временного зуба, которое заканчивается пломбой
                            .column від 500 до 1200 грн
                        .service-row--regular
                            .column Консультация
                            .column 1200 грн
                        .service-row--regular
                            .column Удаление одного постоянного зуба
                            .column від 500
                        .service-row--regular
                            .column Лечение одного временного зуба, которое заканчивается пломбой
                            .column від 500 до 1200 грн
                        .service-row--regular
                            .column Микроимплант ортодонтический
                            .column 750 грн

    include partials/_order