//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Smaga Dental Clinic - Команда

block content

    header.margin-bottom-0
        .container
            .row
                .col-md-3.display-flex.align-items-center
                    h2.margin-bottom-0 Наша команда
                .col-md-9
                    .header-jumbotron
                        p Наша команда фахівців - це професіонали високого рівня, яких об'єднує щира відданість своїй справі.

    section
        .container
            .row
                .offset-md-3.col-md-9
                    .row.justify-content-between
                        .col-md-5
                            a(href='' title='').team-container
                                .team-container--image-container
                                    img(src='img/illus/img2-1.png' title='' alt='')
                                .team-container--description
                                    .team-container--description-panel
                                        p Головний лікар, Ортодонт, Дитячий лікар
                                    h5 Катерина Олексіївна Смага
                                    span.link-next Детальніше
                        .col-md-5
                            a(href='' title='').team-container
                                .team-container--image-container
                                    img(src='img/illus/img2-1.png' title='' alt='')
                                .team-container--description
                                    .team-container--description-panel
                                        p Головний лікар, Ортодонт, Дитячий лікар
                                    h5 Катерина Олексіївна Смага
                                    span.link-next Детальніше
                        .col-md-5
                            a(href='' title='').team-container
                                .team-container--image-container
                                    img(src='img/illus/img2-1.png' title='' alt='')
                                .team-container--description
                                    .team-container--description-panel
                                        p Головний лікар, Ортодонт, Дитячий лікар
                                    h5 Катерина Олексіївна Смага
                                    span.link-next Детальніше
                        .col-md-5
                            a(href='' title='').team-container
                                .team-container--image-container
                                    img(src='img/illus/img2-1.png' title='' alt='')
                                .team-container--description
                                    .team-container--description-panel
                                        p Головний лікар, Ортодонт, Дитячий лікар
                                    h5 Катерина Олексіївна Смага
                                    span.link-next Детальніше

