$black = #000
$white = #fff
$trans = transparent

$lightgreen = #D0F5E1
$lightgreen2 = #90B8A2

$gray-text = #6b6b6b
$gray-text2 = #6C6C6C
$gray-text3 = #d2d2d2
$gray-text4 = #b1b1b1

$yellow = #FFE51B
$yellow2 = #F0D717
$yellow3 = #7F7000

$gray-back = #F8F8F8

$black-back = #343434

//$main-font = "Cera"
$main-font = "Circe"
//$main-font = "Comfortaa"
//$main-font = "DejaVu"
//$main-font = "Futura PT"
//$main-font = "Gotham Pro"
//$main-font = "Helvetica"
//$main-font = "Lato"
//$main-font = "Lobster"
//$main-font = "MuseoSans"
//$main-font = "Open Sans"
//$main-font = "Open Sans Condensed"
//$main-font = "Oswald"
//$main-font = "Pattaya"
//$main-font = "Proxima Nova"
//$main-font = "PT Sans"
//$main-font = "Raleway"
//$main-font = "Roboto"
//$main-font = "Roboto Condensed"